<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
<%- include("../partials/header") %>
    
    <main id="formulario-inicio" >
        <form class="formularios-login" method="POST" action="/products" enctype="multipart/form-data">
            <h3 class="iniciartextologin">Agregar Producto</h3>

            <div class="bloquesdellogin">
                <input class="textodelogin" type="text" name="nombre" placeholder="nombre">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="number" name="precio" placeholder="precio">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="text" name="titulo" placeholder="titulo">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="text" name="cantidad" placeholder="cantidad">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="text" name="codigo" placeholder="codigo">
            </div>
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="text" name="descripcion" placeholder="descripcion">
            </div>
            <div class="bloquesdellogin">
                <textarea class="bloquesdellogin" name="desc2" placeholder="Mas Informacion">Mas Informacion</textarea>
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="number" name="id_productoCat" placeholder="categoria">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="file" name="imagen" placeholder="img">
            </div>
            <div class="bloquesdellogin-send">
                <a href="/"><button class="botonform botonsend" type="submit">Enviar</button></a>
            </div>
        </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
  
  </html>