<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
<%- include("../partials/header") %>
    
    <main id="formulario-inicio" >
        <form class="formularios-login creation-form" action="/" method="GET">
            <h3 class="iniciartextologin">Agregar Producto</h3>

            <div class="bloquesdellogin">
                <input class="textodelogin" type="user" name="Usuario" placeholder="Nombre de Producto">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="number" name="Precio" placeholder="Precio">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="file" name="Imagen" placeholder="Imagen">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="text" name="Categoria" placeholder="Categoria">
            </div>
            
            <div class="bloquesdellogin">
                <select class="textodelogin">
                    <option value="Categoria">Categoria</option>
                    <option value="Alfajores">Alfajores</option>
                    <option value="Cafe">Cafe</option>
                </select>
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="text" name="Descripcion" placeholder="Descripcion">
            </div>
            <div class="bloquesdellogin">
                <textarea class="bloquesdellogin">Descripcion</textarea>
            </div>

            <div class="bloquesdellogin-send">
                <a href="/"><button class="botonform botonsend" type="submit">Enviar</button></a>
            </div>
        </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
  
  </html>