<footer>
    <section>
        <div class="redes-sociales">
          <p>Seguinos en nuestras redes!!</p>          
          <a href="#"><i class="fab fa-facebook" style="color: #de7627;" ></i></a>
          <a href="#"><i class="fab fa-instagram" style="color: #de7627;"></i></a>
        </div>
      </section>
</footer>