<header>
    <div class="con-header">
      <div class="buscador">
        <form>
          <div class="colocar-texto">
            <input type="text" placeholder="Buscar productos">
          </div>
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="logo">
        <a href="/">
          <img src="/images/logoTM.png" alt="tienda-Merienda">
        </a>
      </div>
      <div class="botones">

      <%if(locals.isLogged){%>
        
        <%if(locals.isAdmin == true){%>
          <article class="admin-iconos">
            <div><p class="eres-admin">Eres administrador<i class="fa-solid fa-crown"></i></p></div>
            <div class="i-admin"><a href="/products/create">Agregar un producto<i class="fa-solid fa-circle-down"></i></a></div>
            <div class="i-admin"><p></p><a href="/usersList">Lista de Usuarios<i class="fa-solid fa-circle-down"></i></a></p></div>
          </article>  
          <div class="dropdown">
            <button class="boton-perfil"><i class="fa-solid fa-user" style="color: #de7627;"></i></button>
            <div class="dropdown-content">
                <a href="/perfil">Mi perfil</a>
                <a href="/logout">Cerrar sesión</a>
             
              </div>
          </div>
          <a href="/carrito" class="boton-carrito"><i class="fas fa-shopping-cart" style="color: #de7627;"></i></a>
        </div>
         
          <%}else{%>
            <div class="dropdown">
              <button class="boton-perfil"><i class="fa-solid fa-user" style="color: #de7627;"></i></button>
                <div class="dropdown-content">
                  <a href=<%= "/perfil"+locals.usuarioLogeado.id %>>Mi perfil</a>
                  <a href="/logout">Cerrar sesión</a>
                </div>
            </div>
            <a href="/carrito" class="boton-carrito"><i class="fas fa-shopping-cart" style="color: #de7627;"></i></a>
          </div>
          <%}%>
      <%}else{%>
        <div class="dropdown">
          <button class="boton-login"><i class="fas fa-sign-in-alt" style="color: #de7627"></i></button>
            <div class="dropdown-content">
             <a href="/login">Ingresá</a>
              <a href="/register">Regístrate</a>
            </div>
        </div>
        <a href="/" class="boton-carrito"><i class="fas fa-shopping-cart" style="color: beige;"></i></a>
      </div>
      <%}%>

       
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productList">Productos</a></li>
          <li><a href="/Contact">Contacto</a></li>
          <li><a href="/History">Historia</a></li>
        </ul>
      </nav>
    </div>
</header>