<!DOCTYPE html>
<html lang="en">
    
<%- include("./partials/head") %>

<body>
    
<%- include("./partials/header") %>

    <main>
        <div class="banner">
            <div class="imagenes-banner">
                <img src="/images/contacto_text.jpg" alt="banner" class="banner banner-none ">  
            </div>            
          
        </div>

        <div><h2 class="titulo-home"> Gracias por elegirnos y permitirnos formar parte de tus momentos especiales.</h2></div>       

        <article class="lore">                    
            <p>   </p> 
             <br /><b>El equipo de Tienda Merienda</b></p> 
            </p>
        </article>
    </main>

<%- include("./partials/footer") %>
</body>

</html>
