<!DOCTYPE html>
<html lang="en">
    
<%- include("./partials/head") %>

<body>
    
<%- include("./partials/header") %>

    <main>
        <div class="banner">
            <div class="imagenes-banner">
                <img src="/images/banner_historia2.png" alt="banner" class="banner banner-none ">  
            </div>
          
        </div>

        <div><h2 class="titulo-home"></h2></div>
       

        <article class="lore">
            <h3 class="encabezado">Nuestra Tradición</h3>
            <p>Nos enorgullece presentarte un universo de exquisiteces para deleitar tu paladar en cada merienda.
            <p>Desde el auténtico mate argentino hasta los irresistibles alfajores y las tradicionales facturas, ofrecemos lo mejor para hacer de tu momento de merienda una experiencia única.             
            <p>Descubre nuestro mate cuidadosamente seleccionado, con hojas de yerba mate de primera calidad y auténticas bombillas de acero inoxidable. Te proporcionaremos todo lo necesario para disfrutar de una auténtica infusión de mate y sumergirte en la tradición y el sabor de Argentina.</p>
                      
            <h3>En Tienda Merienda,<br/> nos apasiona ofrecerte lo mejor en cada merienda. </h3>
            <p> Nuestros productos son elaborados con ingredientes de alta calidad y con un cuidado artesanal que se refleja en cada bocado.</p>
            <p>Te invitamos a explorar nuestro catálogo y descubrir la amplia variedad de opciones que tenemos para ofrecerte.</p>
            
            <h3 class="encabezado">Gracias por elegirnos</h3>
            <p> y permitirnos formar parte de tus momentos especiales.
               <p> <b>El equipo de Tienda Merienda</p>
            </p>
        </article>
    </main>

<%- include("./partials/footer") %>
</body>

</html>
