<!DOCTYPE html>
<html lang="en">
    
<%- include("./partials/head") %>

<body>
    
<%- include("./partials/header") %>

    <main>
        <div class="banner">
            <img src="/images/banner-test.jpg" alt="banner">
        </div>

        <div class="productos">
            <div>
                <img src="/images/Capuchino.jpg" alt="">
                <h4>Cafe</h4>
                <p>800$</p>
            </div>
            <div>
                <img src="/images/Cheesecake.jpg" alt="">
                <h4>Torta</h4>
                <p>1500$</p>
            </div>
            <div>
                <img src="/images/Scones.jpg" alt="">
                <h4>Scons</h4>
                <p>600$</p>
            </div>
            <div>
                <img src="/images/TeMatcha.jpg" alt="">
                <h4>Te de Matcha</h4>
                <p>400$</p>
            </div>
            <div>
              <a href="/productDetail">
                <img src="/images/alfajores01p1.jpg" alt="">
              </a>
                <h4>Alfajores</h4>
                <p>200$</p>
              
            </div>
            <div>
              <img src="/images/Te.jpg" alt="">
              <h4>Te</h4>
              <p>350$</p>
          </div>
        </div>

        <article class="lore">
            <h3>Cosas Interesantes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tellus quam, cursus vehicula venenatis at, tempus at nibh. 
                Proin congue nisl nisl, vel iaculis dui consectetur at. Duis volutpat, ipsum vitae porttitor mattis, ex metus tempor nibh, 
                vel maximus libero ipsum eget purus. Suspendisse efficitur ultrices risus. Suspendisse in odio eu nisl pulvinar placerat at 
                quis quam. Aenean consequat, purus ut malesuada fringilla, libero urna efficitur dui, eget facilisis risus magna non neque. 
                Proin nibh enim, efficitur eu erat sit amet, rhoncus venenatis enim. Ut pellentesque quam quis leo feugiat, eu interdum erat 
                cursus. Mauris in odio nisi.</p>
        </article>

        <div class="opiniones">
            <div>
                <img src="/images/persona1.jpg" alt="">
                <section>
                    <h4>Juan</h4>
                    <p>Muy rico todo!</p>
                </section>
            </div>

            <div>
                <img src="/images/persona2.jpg" alt="">
                <section>
                    <h4>Daniela</h4>
                    <p>Excelente calidad</p>
                </section>
            </div>

            <div>
                <img src="/images/persona3.jpg" alt="">
                <section>
                    <h4>John</h4>
                    <p>Gran variedad y muy buen servicio</p>
                </section>
            </div>
        </div>
    </main>

<%- include("./partials/footer") %>
</body>

</html>