.datosUser {
    display: flex;
    flex-wrap: nowrap;
}
.bloqueAvatar {
    margin-right: 40px;
}
.datosUser img {
    width: 20vw;
    height: 20vw;
}
.datosPerfil p {
    display: flex;
    position:relative;
    justify-content: left;
}
