<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
  <header>
    <div class="con-header-login">
      <div class="logo-login">
        <a>
          <img src="/images/logoTM.png" alt="tienda-Merienda">
        </a>
      </div>
    </div>
</header>
  <div class="inicioTM">
      <main class="main-register">
        
          <form class = formregistro action="/register" method ="POST" enctype="multipart/form-data">
            <h3> Registrarte: </h3>
              <div class="inputs"><p class = bloques-registro>
                <input class = bloquestext-registro type = "text" name = "nombre" placeholder ="Nombre">
              </p>
              <p class = bloques-registro>
                <input class = bloquestext-registro type = "text" name = "apellido" placeholder ="Apellido">
              </p class = bloques-registro>
              <p class = bloques-registro>
                <input class = bloquestext-registro type = "tel" name = "celular" placeholder="Celular">
              </p>
              <p class = bloques-registro>
              <input class = bloquestext-registro type = "email" name = "email" placeholder="E-mail">
              </p>         
              <p  class = bloques-registro>
              <input class = bloquestext-registro  type = "password" name = "password" placeholder="Contraseña">
              </p>
            </div>
             <div class="foto"> <p  class = bloques-registro>
                <input class = bloquestext-registro  type = "file" name = "imagen">
              </p>
              <div class = boton-registro>
              <button class = "botonsend-register" type = "submit"> Enviar </button>
              </div></div>
          </form> 
      </main>
  </div>
  <%- include("../partials/footer") %>  
</body>

</html>