<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
<%- include("../partials/header") %>

    <main>
        
        <form class = formregistro type = "/Registro" method = "POST" enctype="multipart/form-data">
          <h3> Registrarte: </h3>
            <p class = bloques-registro>
              <input class = bloquestext-registro type = "text" name = "nombre" placeholder ="Nombre">
            </p>
            <p class = bloques-registro>
              <input class = bloquestext-registro type = "text" name = "apellido" placeholder ="Apellido">
            </p class = bloques-registro>
            <p class = bloques-registro>
              <input class = bloquestext-registro type = "tel" name = "celular" placeholder="Celular">
            </p>
            <p class = bloques-registro>
            <input class = bloquestext-registro type = "email" name = "email" placeholder="Correo">
            </p>         
            <p  class = bloques-registro>
            <input class = bloquestext-registro  type = "password" name = "password" placeholder="Clave">
            </p>
            <p  class = bloques-registro>
              <input class = bloquestext-registro  type = "file" name = "imagen">
            </p>
            <p class = boton-registro>
            <button class = botontexto-registro type = "submit"> Enviar </button>
            </p>
        </form> 
    </main>
    <%- include("../partials/footer") %>
</body>

</html>