<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
<%- include("../partials/header") %>

    <main id="formulario-inicio">
        <form class="formularios-login" action="/" method="GET">
            <h3 class="iniciartextologin">Iniciar Sesi칩n</h3>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="user" name="Usuario" placeholder="Nombre De Usuario">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="Password" name="Contrase침a" placeholder="Contrase침a">
            </div>
            <div>
                <label class="textorecordar"for="remember">Recordar contrase침a:</label>
                <input type="checkbox" id="remember" name="remember">
            </div>
            <div class="bloquesdellogin-send">
                <a href="/"><button class="botonform botonsend" type="submit">Enviar</button></a>
            </div>
        </form>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>