<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
<%- include("../partials/header") %>

    
        <main id="formulario-inicio">
            <form class="formularios-login" action="/login" method="POST">
                <h3 class="iniciartextologin">Iniciar Sesión</h3>
            <div class="contenedor-iniciar-sesion">
                <div class="bloquesdellogin">
                    <input class="textodelogin1" type="email" name="email" placeholder="Email">
                    <input class="textodelogin2" type="Password" name="password" placeholder="Contraseña">
                </div>
                <div class="textrecordar">
                    <label class="textorecordar"for="remember">Recordar contraseña:</label>
                    <input type="checkbox" id="remember" name="remember">
                </div>
                <div class="bloquesdellogin-send">
                    <a href="/"><button class="botonform botonsend" type="submit">Iniciar</button></a>
                </div>
                <div class="abajo">
                    <div class="a"><a>¿Olvidaste tu cuenta?</a></div><div class="a"><a href="/register">Registrarse</a></div>
                </div>
            </div>
            </form>
        </main>
    

<%- include("../partials/footer") %>
</body>

</html>