<!DOCTYPE html>
<html lang="en">
    
<%- include("../partials/head") %>

<body>
    
<%- include("../partials/header") %>

    <main id="formulario-inicio">
        <form class="formularios-login" action="/login" method="POST">
            <h3 class="iniciartextologin">Iniciar Sesión</h3>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="email" name="email" placeholder="Email">
            </div>
            <div class="bloquesdellogin">
                <input class="textodelogin" type="Password" name="password" placeholder="Contraseña">
            </div>
            <div>
                <label class="textorecordar"for="remember">Recordar contraseña:</label>
                <input type="checkbox" id="remember" name="remember">
            </div>
            <div class="bloquesdellogin-send">
                <a href="/"><button class="botonform botonsend" type="submit">Enviar</button></a>
            </div>
        </form>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>