* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: calc(100vw- 20px);
    font-family: 'Questrial', sans-serif;
    background-color: #fafae0;
}

/*header*/

.con-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: beige;
}

header div a {
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 0;
}

.logo img {
    text-align: center;
    width: 65%;
}

.buscador {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin-left: 30px;
    padding: 2px 5px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #de7627;
}

.buscador form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.buscador .colocar-texto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.buscador .colocar-texto input[type="text"] {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
}

.colocar-texto input[type="text"]:focus {
    outline: none;
    background-color: #f8f8f8;
}

.buscador button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    margin-left: 5px;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #de7627;
}

.fa-search {
    color: #de7627;
}

button[type="submit"]:hover .fa-search {
    color: white;
}

.botones {
    display: flex;
}

.boton-login {
    margin-right: 20px;
}

.boton-carrito, .boton-login {
    text-decoration: none;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.boton-login {
    text-decoration: none;
    font-size: 20px;
}

.dropdown-content a {
    color: #de7627;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.menu {
    background-color: #895d39;
    padding: 10px;
    margin-top: 0;
}

.menu nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: #895d39;
    align-items: center;
    justify-content: center;
}

.menu nav ul li {
    margin-left: 25px;
    margin-right: 25px;
}

.menu nav ul li a {
    text-decoration: none;
    color: beige;
}

.menu nav ul li a:hover {
    color: #de7627;
}  

/*fin header*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img{
    width: 100%;
    padding: 20px 0 20px 0;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.productos div {
    border: solid 2px black;
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
    width: 25%;
    height: 25%;
}

.productos div img{
    width: 100%;
}

.lore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lore p {
    margin-top: 5px;
    width: 70%;
}


.opiniones div {
    border: solid 2px black;
    background-color: #ebebeb;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.opiniones div img {
    padding: 10px;
    width: 35%;
}

.opiniones div section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul li {
    text-decoration: none;
    list-style-type: none;
}

/*footer*/

footer {
    background-color: #895d39;
    height: 15vh;
}
  
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-register {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fafae0;
    padding: 10px;
}

footer i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales {
    text-align: center;
}
.redes-sociales a {
    margin: 0 10px;
    color: #fafae0;
    font-size: 24px;
}

/*fin footer*/

main form {
    display: flex;
    flex-direction: column;
}

main form p {
    display: flex;
    align-items: center;
}
main form p button {
    margin-top: 30 px;
    background-color: orange;
    color: #fff;;
    border-radius: 10%;
    width: 8vw;
    height: 5vh;
    border: none;
    box-shadow: 1px 1px 10px rgb ( 100 , 100 , 100 );

}

/*Login*/


.iniciartextologin {
    color: #ebebeb;
}

#formulario-inicio {
    align-items: center;
}

.formularios-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232020;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
}

.textorecordar {
    color: #ebebeb;
    font-size: 12px;
}

.textodelogin{
    border-radius: 5px;
    border-color: #de7627;
    border-width: 2px;
    display: flex;
    align-items: center;
}
.textodelogin[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
  }


.bloquesdellogin {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5%;
    text-align: center;
}

.botonform{
    width: 40%;
}

.botonforma{
    width: 20px;
}

.botonsend{
    background-color: #de7627;
    color: #ebebeb;
    transition-duration: 100ms;
    border-radius: 5px; 
    border: none;
}

.iniciartextologin:hover {
    color: #de7627;
        transition-duration: 200ms;
}

.botonsend:hover{
        background-color: #895d39;
        color: #FFF;
        cursor: pointer;
}

