<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Merienda</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <header>
        <div class="barra-superior">
            <div class="centralizer"></div>
            <div class="logo"><img src="/images/logo.png" alt="Logo"></div>
            <div class="centralizer">

            </div>
        </div>
        <div class="barra-inferior">
            <ul>
                <li>Inicio</li>
                <li>Producto</li>
                <li>Contacto</li>
                <li>Historia</li>
            </ul>
        </div>
    </header>


    <main>
        <div class="banner">
            <img src="/images/banner-test.jpg" alt="banner">
        </div>

        <div class="productos">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>

        <article class="lore">
            <h3>Cosas Interesantes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tellus quam, cursus vehicula venenatis at, tempus at nibh. 
                Proin congue nisl nisl, vel iaculis dui consectetur at. Duis volutpat, ipsum vitae porttitor mattis, ex metus tempor nibh, 
                vel maximus libero ipsum eget purus. Suspendisse efficitur ultrices risus. Suspendisse in odio eu nisl pulvinar placerat at 
                quis quam. Aenean consequat, purus ut malesuada fringilla, libero urna efficitur dui, eget facilisis risus magna non neque. 
                Proin nibh enim, efficitur eu erat sit amet, rhoncus venenatis enim. Ut pellentesque quam quis leo feugiat, eu interdum erat 
                cursus. Mauris in odio nisi.</p>
        </article>

        <div class="opiniones">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </main>


    <footer>

    </footer>
</body>
</html>