<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <title>Tienda Merienda</title>
</head>

<body>
    <header>
        <div class="con-header">
          <div class="buscador">
            <form>
              <div class="colocar-texto">
                <input type="text" placeholder="Buscar productos">
              </div>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="logo">
            <a href="/">
              <img src="/images/logosinfondo4.jpg" alt="tienda-Merienda">
            </a>
          </div>
          <div class="botones">
            <div class="dropdown">
              <button class="boton-login"><i class="fas fa-sign-in-alt" style="color: #de7627;"></i></button>
                <div class="dropdown-content">
                  <a href="/Login">Ingresá</a>
                  <a href="/Registro">Regístrate</a>
                </div>
            </div>
            <a href="/cart.html" class="boton-carrito"><i class="fas fa-shopping-cart" style="color: #de7627;"></i></a>
          </div>
        </div>
        <div class="menu">
          <nav>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/Products">Productos</a></li>
              <li><a href="/Contact">Contacto</a></li>
              <li><a href="/History">Historia</a></li>
            </ul>
          </nav>
        </div>
    </header>

    <main>
        <div class="banner">
            <img src="/images/banner-test.jpg" alt="banner">
        </div>

        <div class="productos">
            <div>
                <img src="/images/Capuchino.jpg" alt="">
                <h4>Producto 1</h4>
                <p></p>
            </div>
            <div>
                <img src="/images/Cheesecake.jpg" alt="">
                <h4>Producto 2</h4>
                <p></p>
            </div>
            <div>
                <img src="/images/Scones.jpg" alt="">
                <h4>Producto 3</h4>
                <p></p>
            </div>
            <div>
                <img src="/images/TeMatcha.jpg" alt="">
                <h4>Producto 4</h4>
                <p></p>
            </div>
        </div>

        <article class="lore">
            <h3>Cosas Interesantes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tellus quam, cursus vehicula venenatis at, tempus at nibh. 
                Proin congue nisl nisl, vel iaculis dui consectetur at. Duis volutpat, ipsum vitae porttitor mattis, ex metus tempor nibh, 
                vel maximus libero ipsum eget purus. Suspendisse efficitur ultrices risus. Suspendisse in odio eu nisl pulvinar placerat at 
                quis quam. Aenean consequat, purus ut malesuada fringilla, libero urna efficitur dui, eget facilisis risus magna non neque. 
                Proin nibh enim, efficitur eu erat sit amet, rhoncus venenatis enim. Ut pellentesque quam quis leo feugiat, eu interdum erat 
                cursus. Mauris in odio nisi.</p>
        </article>

        <div class="opiniones">
            <div>
                <img src="/images/persona1.jpg" alt="">
                <section>
                    <h4>Juan</h4>
                    <p>Muy rico todo!</p>
                </section>
            </div>

            <div>
                <img src="/images/persona2.jpg" alt="">
                <section>
                    <h4>Daniela</h4>
                    <p>Excelente calidad</p>
                </section>
            </div>

            <div>
                <img src="/images/persona3.jpg" alt="">
                <section>
                    <h4>John</h4>
                    <p>Gran variedad y muy buen servicio</p>
                </section>
            </div>
        </div>
    </main>


    <footer>
        <section>
            <div class="redes-sociales">
              <p>Seguinos en nuestras redes!!</p>          
              <a href="#"><i class="fab fa-facebook" style="color: #de7627;"></i></a>
              <a href="#"><i class="fab fa-instagram" style="color: #de7627;"></i></a>
            </div>
          </section>
    </footer>
</body>
</html>